<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<app-leftmenu></app-leftmenu>
<div class="container">
  <div class="row p-tb">
    <div class="col-md-4">
      <app-annoncement></app-annoncement>
    </div>
    <div class="col-md-4">
      <app-planeddelivery></app-planeddelivery>
    </div>
    <div class="col-md-4">
      <app-chartview></app-chartview>
    </div>
  </div>
  <div class="row p-tb">
    <div class="col-md-4">
      <app-teamchallenge></app-teamchallenge>
    </div>
    <div class="col-md-4">
      <app-lastdelivery></app-lastdelivery>
    </div>
    <div class="col-md-4">
      <app-bdannoncement></app-bdannoncement>
    </div>
  </div>

</div>
<router-outlet></router-outlet>