<div class="card">
    <div class="card-header">
        Important Annoncement
    </div>
    <div class="card-body">
        <ul>
            <li><a href="#">A Small Gesture by Our Trichy Colleagues Created a Bigger...</a></li>
            <li><a href="#">Treasuring career diversity with Deepak Agrawal</a></li>
            <li><a href="#">Innovation Theater – Your Pandora’s box to experience Inn...</a></li>
            <li><a href="#">We help Delhaize Le Lion delight its customers</a></li>
            <li><a href="#">AI-enabled cybersecurity is the new norm</a></li>
        </ul>
    </div>
</div>