<div class="leftMenucontainer">
    <ul>
        <li>
            <a href="#">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <p>Important Annoncement</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <p>Planned Delivery</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <p>Team Challenge</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <p>last Delivery</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <p>Birthday Annoncement</p>
            </a>
        </li>

    </ul>
</div>